:root {
    --color-text-primary: rgb(255 255 255 / 87%);
    --color-text-secondary: rgb(255 255 255 / 60%);
    --color-text-hint: rgb(255 255 255 / 38%);
    --color-text-disabled: rgb(255 255 255 / 38%);

    --color-primary: #987FFB;
    --color-on-primary: rgb(0 0 0 / 87%);

    --color-background: #111111;
    --color-on-background: var(--color-text-primary);

    --color-background-inverse:#F5F6FB;

    --color-surface: #262626;
    --color-on-surface: var(--color-text-primary);

    --color-surface-var: #202020;
    --color-on-surface-var: var(--color-text-primary);

    --box-shadow: 0px 32px 43px 0px rgba(40, 35, 74, 0.10);
}
